@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=New+Amsterdam&family=Playwrite+PE:wght@100..400&family=Tilt+Warp&display=swap');

.example-spacer {
  flex: 1 1 auto;
}

.btn {
  margin-top: 10px;
}
mat-toolbar{
  background-color: #FAD514;
}
.logo {  
  border-radius: 50%;
  /* Hace que el contenedor sea redondo */
  overflow: hidden;
  /* Oculta cualquier parte del logo que sobresalga del marco */
}
.found{
  font-family: "Tilt Warp", sans-serif;
  background-color: #FAD514;
  border-color: #FAD514;
}

.found:hover{
  background-color: #FAD514;
  color: white;
}

.barra{
  background-color: #FAD514;
  font-family: "Tilt Warp", sans-serif;
  text-align: left;
  justify-content: left;
}
.personi{
  font-family: "Tilt Warp", sans-serif;
  background-color: #FAD514;
  border-color: #FAD514;
  color: black;
}
#menuProducto{
  background-color: #FAD514;
  border: #FAD514;


}
.icono1{
  color: black;
}
 

.titul {
  margin-top: 9px;
  padding-left: 1%;
  padding-right: 1%;
  color: black;
  font-family: "Playwrite PE", cursive;
  font: bold;
  
}

.logo img {
  width: 100%;
  /* Asegura que la imagen ocupe todo el espacio dentro del contenedor */

}

.icono {
  color: black;
}