<mat-toolbar class="toolbar">
  <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #seccion="matMenu">

    <button mat-menu-item routerLink="/inicio" class="barra">Inicio</button>

    <button mat-menu-item [matMenuTriggerFor]="producto" class="barra">Productos</button>
  </mat-menu>


  <div>
    <div class="logo" id="logo1">
      <img src="../../../../../assets/logo.jpeg"  routerLink="/inicio" alt="">
    </div>
  </div>
  <p class="titul">Vial Trucks</p>



  <!--se van a mostrar cuando la pantalla sea mayor a 700px-->
  <!--Botón para la vista de inicio-->
  <button id="menuInicio" mat-button routerLink="/inicio" class="personi">Inicio</button>

  <span class="example-spacer"></span>

  <!--MENU DESPLEGABLE -> PRODUCTOS -->
  <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Productos</button>
  <mat-menu #producto="matMenu" >
    <button mat-menu-item class="found" [matMenuTriggerFor]="servicios">Servicios</button>
    <button mat-menu-item routerLink="/acerca" class="found">Quienes somos</button>
    <button mat-menu-item routerLink="/contacto" class="found">Contacto</button>

  </mat-menu>

  <mat-menu #servicios="matMenu">
    <button mat-menu-item routerLink="/servicios/mantenimiento" class="found" >Mantenimiento y Reparaciones</button>
 

  </mat-menu>


  <span class="example-spacer"></span>

  <!-- inicio de sesion y el registro de un nuevo usuario-->
  <button mat-button [matMenuTriggerFor]="usuario"><mat-icon class="icono">person</mat-icon></button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro" class="personi">Registrarse</button>
    <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion" class="personi">Iniciar Sesión</button>
    <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesion</button>
  </mat-menu>

  <!--carrito-->
  <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon class="icono">shopping_cart</mat-icon>
  </button>-->
  

  <!--Label para modo oscuro-->
  <label for="toggle" id="label_toggle"><i class="fa-solid fa-moon icono1"></i></label>
  <input type="checkbox" id="toggle" (click)="cambiarfondo()">

</mat-toolbar>
<ng-content></ng-content>
