<br>


<div class="container overflow-hidden text-center justify-center">
  <div class="row gy-5">
    <div class="col-12">
      <div class="p-3">
        <h1>¡Gracias por elegirnos!</h1>
        <h2>Para contratar un servicio llena el formulario
          y al instante obtendrás atención</h2>
      </div>
    </div>
    
    <!--<div class="p-3">-->
      <div class="p-form">
        <div class="formula">
          <h1>Envíe su formulario</h1>
      
          <form action="https://formsubmit.co/lunaovando65@gmail.com" method="POST" id="formi">
              <label for="Nombre">Nombre</label>
              <input type="text" name="nombre">
      
              <label for="email">Correo Electrónico</label>
              <input type="email" name="email">
      
              <label for="subject">Asunto</label>
              <input type="text" name="asunto">
      
              <label for="coments">Comentario</label>
              <textarea name="comentario" cols="15" rows="5"></textarea>
      
              <input type="submit" value="Enviar" class="button">
      
          </form>
      </div>
    </div> 
      <!--</div>--> 
    
    
  </div>
</div>





<!--<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
        <h1>¡Gracias por elegirnos!</h1>
        <h2>Para contratar un servicio llena el formulario
          y al instante obtendrás atención</h2>
       
       </div>
      </div>
      <div class="col">
        <div class="p-3">
            <div class="formula">
                <h1>Envíe su formulario</h1>
            
                <form action="https://formsubmit.co/lunaovando65@gmail.com" method="POST">
                    <label for="Nombre">Nombre</label>
                    <input type="text" name="nombre">
            
                    <label for="email">Correo Electrónico</label>
                    <input type="email" name="email">
            
                    <label for="subject">Asunto</label>
                    <input type="text" name="asunto">
            
                    <label for="coments">Comentario</label>
                    <textarea name="comentario" cols="15" rows="5"></textarea>
            
                    <input type="submit" value="Enviar" class="button">
            
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>-->








<br>
<div class="mapa">
    <h1>UBICACIÓN</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6206.260268974689!2d-67.97285798275489!3d-38.94385532966991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a3061aeaa398f%3A0xde609fe673fa72a6!2sAv.%20Circunvalacion%20151%2C%20R8324%20Cipolletti%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses-419!2sar!4v1727178114442!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
</div>


