.bi {
  width: 30px;
  height: 30px;

}

.logo {
  justify-content: left;
}

.categoria:hover {
  color: rgb(66, 66, 66);
  cursor: pointer;
  font-family: 'Bevan', serif;
  font: bold;

}

.categoria {
  font-family: "Tilt Warp", sans-serif;
  font: bold;
  color: black;

}

.fondofoo {
  background-color: #FAD514;
  width: 100%;
}

h4 {
  font-family: "Tilt Warp", sans-serif;
  font-size: 157%;
  font: bold;
  color: black;

}

#num {
  padding-top: 15px;
}

@media (min-width: 300px) and (max-width: 700px) {
  #fondofoo {
    background-color: rgb(66, 66, 66);
    color: white;
  }
}

/*CORRESPONDE A PANTALLAS GRANDES --> EJEMPLO, computadoras*/
@media (min-width: 700px) {
  mat-toolbar {
    background-color: grey;

  }

  #menuSecciones {
    display: none;
  }
}