<br>
<div id="fondofoo">
    <div class="container text-center">
        <div class="row g-2">
            <div class="col-4">
                <div class="p-3">
                    <h4>Contáctanos</h4>
                    <i class="bi bi-whatsapp categoria">2996045341</i>


                    <br>

                </div>
            </div>
            <div class="col-4">
                <div class="p-3">
                    <h4>Categorías</h4>
                    <p class="categoria" routerLink="/inicio">Inicio</p>
                    <p class="categoria" routerLink="/contacto">Contacto</p>
                    <p class="categoria" routerLink="/acerca">Sobre Nosotros</p>
                    <p class="categoria" routerLink="/servicios">Servicios</p>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3">
                    <h4>Sigamos conectados</h4>
                    <i class="bi bi-instagram categoria"> @vial.trucks</i>
                    <br>
                    <i class="bi bi-facebook categoria"> VialTrucks</i>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-content></ng-content>