@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalnia+Glaze:wght@100..700&family=Suez+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalnia+Glaze:wght@100..700&family=Play:wght@400;700&family=Suez+One&family=Teko:wght@300..700&family=Ultra&display=swap');
.typewriter{
    overflow: hidden; /* Asegura que el texto esté oculto hasta que comience la animación */
    border-right: .15em solid grey; /* Crea el efecto del cursor */
    white-space: nowrap; /* Evita que el texto se envuelva */
    margin: 0 auto; /* Centra el texto */
    
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end;
}

/* Efecto de escritura */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Efecto de parpadeo del cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    10% { border-color: grey; }
}

.text{
    margin-left: 3%;
    margin-right: 3%;
}

h2 {
    text-align: left;
    font-style: bold;
}

h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 250%;
}

.up {
    font-family: "Anton", sans-serif;
    
}
u{
    text-align: center;
    justify-content: center;
}


/*Las medidas vh y vw son medidas relativas de acuerdo al viewport. Vh hace referencia a la centésima parte
 de la altura del viewport y vw a la centésima parte del ancho del viewport. 1vh = 1% de la altura del viewport*/
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.imagen {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

/*
animation: Controla la duración y el retraso de cada imagen. La primera imagen tiene una animación que empieza inmediatamente,
 mientras que la segunda tiene un retraso de 0.5 segundos.
 
forwards: Asegura que las imágenes permanezcan en su posición final después de la animación.*/

.imagen1 {
    left: -250px;
    /* Empieza fuera del viewport a la izquierda */
    animation: slideIn1 1s ease-in-out forwards;
}

.imagen2 {
    left: -250px;
    /* Empieza fuera del viewport a la izquierda */
    animation: slideIn2 1s ease-in-out 0.5s forwards;
    /* Segunda imagen con retraso */
}

/*@keyframes: Define el movimiento de las imágenes de izquierda a derecha.*/
@keyframes slideIn1 {
    to {
        left: 100px;
        /* Posición final */
        opacity: 1;
    }
}

@keyframes slideIn2 {
    to {
        left: 700px;
        /* Posición final */
        opacity: 1;
    }
}