@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalnia+Glaze:wght@100..700&family=Suez+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalnia+Glaze:wght@100..700&family=Play:wght@400;700&family=Suez+One&family=Teko:wght@300..700&family=Ultra&display=swap');
p{
    font-size: 110%;
}

.text{
    margin-left: 3%;
    margin-right: 3%;
}

.bi-star-fill{
    width: 90px;
    height: 90px;
}

h2 {
    text-align: left;
    font-style: bold;
}

h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 250%;
}
h3{
    font-family: "Anton", sans-serif;
    font-size: 150%;
}
.up {
    font-family: "Anton", sans-serif;
    font-size: 150%;
    
}
u{
    text-align: center;
    justify-content: center;
}



/* Animación definida */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Aparece un poco más abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Vuelve a su posición original */
    }
}

/* Aplica la animación solo cuando el elemento se carga */
.fade-in {
    opacity: 0; /* Estado inicial invisible */
    animation: fadeIn 0.8s ease forwards; /* La animación dura 0.8s */
}

/* Retraso progresivo por orden en la página */
.fade-in:nth-child(1) {
    animation-delay: 0.2s;
}

.fade-in:nth-child(2) {
    animation-delay: 0.4s;
}

/* Continúa añadiendo delays según el orden de los elementos si tienes más */

 
 /* Ajustes de estilo general para las imágenes */
.imagen {
    width: 100%;
    max-width: 300px; /* Puedes ajustar el tamaño máximo según sea necesario */
    height: auto;
    margin: auto;
}
