<div class="text">
    <br>
    <h1>¿QUIÉNES SOMOS?</h1>
    <br>
    <h2>Tenemos el gusto de presentarles nuestra empresa VIAL
        TRUCKS, una organización recién establecida pero con amplia
        experiencia en el campo de la mecánica automotriz. A pesar de
        ser una empresa joven, nuestro equipo cuenta con más de 20
        años de experiencia en el mantenimiento preventivo y
        correctivo de vehículos livianos y pesados.</h2>
<br>

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <h1>Alejandro Torres</h1>
                    <img src="./../../../../../assets/dueño1.png" alt="" class="imagen imagen1">
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <h1>Fabián Camacho</h1>
                    <img src="./../../../../../assets/dueño2.png" alt="" class=" imagen imagen2">
                </div>
            </div>
        </div>
    </div>


    <br><br>
    <h1>TE BRINDAMOS</h1>
    <h2><i class="bi bi-star-fill up">Profesionalismo y Calidad</i>
        <p> Nuestro personal altamente
            capacitado está comprometido con la excelencia en el
            servicio. Realizamos reparaciones y mantenimiento con
            precisión y dedicación. </p>

        <video autoplay loop class="vid">

            <source src="./../../../../../assets/videovial.mp4" type="video/mp4">
        </video>
        <br>
        <br>
        <i class="bi bi-star-fill up">Flexibilidad y Adaptabilidad: </i>
        <p>Aunque somos una empresa
            nueva, hemos desarrollado planes y programas flexibles
            para satisfacer las necesidades de nuestros clientes.
            Entendemos que cada vehículo es único y merece un
            enfoque personalizado. </p>
        <br>
        <i class="bi bi-star-fill up">Atención al Cliente:</i>
        <p>Nos enorgullece brindar un servicio
            cercano y amigable. Estamos disponibles para responder a
            sus preguntas y resolver cualquier problema que pueda
            surgir. </p>
        <br>
        <i class="bi bi-star-fill up">Capacidad Técnica:</i>
        <p>Tenemos la capacidad y las especificaciones
            para atender vehículos de diferentes marcas y modelos,
            incluyendo americanos, europeos y asiáticos.</p>
    </h2>
</div>