<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-3">
      <div class="p-3">
        
        <div class="card" style="width: 18rem;">
          
          <div class="card-body">
            <h5 class="card-title">Equipos de enganche</h5>
            <p class="card-text"></p>
            <img src="../../../../../assets/equipos de enganche.png" alt=""width="200px" length="200px">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-3">
      <div class="p-3">

        <div class="card" style="width: 18rem;">
          
          <div class="card-body">
            <h5 class="card-title">Trabajo en equipos estacionarios</h5>
            <p class="card-text"></p>
            <img src="../../../../../assets/trabajo en equipos estacionarios.png" alt=""width="200px" length="200px" >
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      <div class="p-3">
        
        <div class="card" style="width: 18rem;">
          
          <div class="card-body">
            <h5 class="card-title">Trabajo en flota liviana</h5>
            <p class="card-text"></p>
            <img src="../../../../../assets/trabajo en flota liviana.png" alt="" width="200px" length="200px">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      <div class="p-3">
        
        <div class="card" style="width: 18rem;">
          
          <div class="card-body">
            <h5 class="card-title">Trabajo en flota pesada</h5>
            <p class="card-text"></p>
            <img src="../../../../../assets/trabajo en flota pesada1.png" alt=""width="200px" length="200px">
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>