/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=New+Amsterdam&family=Playwrite+PE:wght@100..400&family=Tilt+Warp&display=swap');
@media (min-width: 360px) and (max-width:700px){


  .personi{
      font-family: "Tilt Warp", sans-serif;
      background-color: #FAD514;
      border-color: #FAD514;
      color: black;
    }
   
    mat-toolbar {
        background-color: rgb(241, 241, 15);
    
      }

    
    .up{
      font-size: 99%;
    }
    
    .vid{
      width: 400px;
      margin-right: 10%;
      
    }

    .contenido {
        width: 200px;
    }

    .titul{
        font-size: 110%;
    }

    .categoria{
        font-size: 90%;
    }

    .categoria:hover{
        font-size: 90%;
    }

    u{
        font-size: 75%;
    }

  
    #logo1 {
      width: 40px;
    }
  
    #menuInicio {
      font-family: "Tilt Warp", sans-serif;
      font-size: 140%;
      display: none;
      color: black;
    }
    #menuInicio:hover{
      color: white;
    }
  
    #menuProducto {
      font-family: "Tilt Warp", sans-serif;
      font-size: 140%;
      display: none;
      color: black;
    }
    #menuProducto:hover{
      color: white;
    }
  }
  
  /*CORRESPONDE A PANTALLAS GRANDES --> EJEMPLO, computadoras*/
  @media (min-width: 700px) and (max-width:900px) {
    .personi{
      font-family: "Tilt Warp", sans-serif;
      background-color: #FAD514;
      border-color: #FAD514;
      color: black;
    }
    .contenido {
        width: 18rem;
    }
  
    .toolbar {
      background-color: #FAD514;
  
    }
   
    #logo1 {
        width: 60px;
      }

      .vid{
        margin-right: 10%;
        width: 800px;
    }
  
    #menuSecciones {
      display: none;
    }
  
    #menuInicio {
      font-family: "Tilt Warp", sans-serif;
      margin-left: 15%;
      font-size: 140%;
      color: black;
    }
    #menuInicio:hover{
      color: white;
    }
  
    #menuProducto {
      font-family: "Tilt Warp", sans-serif;
      margin-left: 15%;
      font-size: 140%;
      color: black;
    }
    #menuProducto:hover{
      color: white;
    }
  }

  @media(min-width: 900px){
    .personi{
      font-family: "Tilt Warp", sans-serif;
      background-color: #FAD514;
      border-color: #FAD514;
      color: black;
    }
    #logo1 {
      width: 60px;
    }

    .vid{
      margin-left: 20%;
      width: 800px;
  }
  
  #menuSecciones {
    display: none;
  }

  #menuInicio {
    font-family: "Tilt Warp", sans-serif;
    margin-left: 15%;
    font-size: 140%;
    color: black;
  }
  #menuInicio:hover{
    color: white;
  }

  #menuProducto {
    font-family: "Tilt Warp", sans-serif;
    margin-left: 15%;
    font-size: 140%;
    color: black;
  }
  #menuProducto:hover{
    color: white;
  }
  }
  


/*Estilos para modo oscuro*/


body{
    transition: all 1.5s ease;
}

#toggle{
    display: none;
}

#label_toggle{
    position: static;
    cursor: pointer;
}

.dark{
    background-color: rgb(59, 56, 56);
    color: white;
    transition: all 1.5s ease;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
